
    <footer class="foot">
        <aside>
            <div>
                <h1 class="title">23-24th May</h1>
                <h2 class="title">Oslo, Norway</h2>
            </div>
        </aside>

        <section>
            <!-- Sponsors goes here -->
        </section>
    </footer>
</body>
</html>