<% include snips/head.ejs %>

    <section class="wrap">
      <article class="poster">
        <h1>All web, all the time</h1>
        <h2>23rd - 24th of May</h2>
        <h3>Oslo Norway</h3>
      </article>
    </section>
  
    <div class="separator"></div>

    <section class="wrap">

      <article class="slot row_a">
        <a href="/speakers/#bodil">
          <div class="img bodil"></div>
          <h2>Bodil Stokke</h2>
        </a>
      </article>

      <article class="slot row_b">
        <a href="/speakers/#david">
          <div class="img david"></div>
          <h2>David Nolen</h2>
        </a>
      </article>

      <article class="slot row_c">
        <a href="/speakers/#garann">
          <div class="img garann"></div>
          <h2>Garann Means</h2>
        </a>
      </article>

      <article class="slot row_a">
        <a href="/speakers/#jan">
          <div class="img jan"></div>
          <h2>Jan Lenhardt</h2>
        </a>
      </article>

      <article class="slot row_b">
        <a href="/speakers/#mario">
          <div class="img mario"></div>
          <h2>Dr.-Ing. Mario Heiderich</h2>
        </a>
      </article>

      <article class="slot row_c">
        <a href="/speakers/#reginald">
          <div class="img reginald"></div>
          <h2>Reginald Braithwaite</h2>
        </a>
      </article>

      <article class="slot row_a">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_b">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_c">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_a">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_b">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_c">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_a">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_b">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_c">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_d">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

    </section>
    <% include snips/footer.ejs %>
</body>
</html>