<% include head.ejs %>
<body id="body" class="front">
    <div class="logo"></div>

    <menu class="menu">
        <div class="left">
            <a href="/speakers/">Speakers</a>
            <a href="/tickets/">Tickets</a>
            <a href="/location/">Location</a>
        </div>
        <div class="right">
            <a href="/schedule/">Schedule</a>
            <a href="/about/">About</a>
            <a href="/sponsors/">Sponsors</a>
        </div>
    </menu>

    <main class="main">
        <a href="/speaker/#garann" class="speaker garann"></a>
        <a href="/speaker/#robert" class="speaker robert"></a>
        <a href="/speaker/#robert" class="speaker david"></a>
        <a href="/speaker/#robert" class="speaker magnars"></a>
    </main>
<% include footer.ejs %>