<% include snips/head.ejs %>

    <section class="wrap">
      <article id="poster" class="poster">
        <h1>All web, all the time</h1>
        <h2>23rd - 24th of May</h2>
        <h3>Oslo Norway</h3>
      </article>
    </section>
  
    <div class="separator"></div>

    <section class="wrap">

      <article class="slot row_a">
        <a href="/speakers/#bodil">
          <div class="img" style="background-image: url(/gfx/front_bodil.jpg);"></div>
          <h2>Bodil Stokke</h2>
        </a>
      </article>

      <article class="slot row_b">
        <a href="/speakers/#david">
          <div class="img" style="background-image: url(/gfx/front_david.jpg);"></div>
          <h2>David Nolen</h2>
        </a>
      </article>

      <article class="slot row_c">
        <a href="/speakers/#garann">
          <div class="img" style="background-image: url(/gfx/front_garann.jpg);"></div>
          <h2>Garann Means</h2>
        </a>
      </article>

      <article class="slot row_a">
        <a href="/speakers/#jan">
          <div class="img" style="background-image: url(/gfx/front_jan.jpg);"></div>
          <h2>Jan Lenhardt</h2>
        </a>
      </article>

      <article class="slot row_b">
        <a href="/speakers/#mario">
          <div class="img" style="background-image: url(/gfx/front_mario.jpg);"></div>
          <h2>Dr. Mario Heiderich</h2>
        </a>
      </article>

      <article class="slot row_c">
        <a href="/speakers/#reginald">
          <div class="img" style="background-image: url(/gfx/front_reginald.jpg);"></div>
          <h2>Reginald Braithwaite</h2>
        </a>
      </article>

      <article class="slot row_a">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_b">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_c">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_a">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_b">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_c">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_a">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_b">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_c">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

      <article class="slot row_d">
        <a href="/speakers/#">
          <div class="img tba"></div>
          <h2>tba</h2>
        </a>
      </article>

    </section>
    <script>
      (function(){
        function randomImg() {
          var imgs  = ['b0','b1','b2','b3','b4','b5','b6','b7','b8','b9','b10','b11', 'b12'],
            random  = Math.floor(Math.random() * ((imgs.length - 1) - 0 + 1) + 0);
          return imgs[random];
        }
        var poster = document.getElementById('poster');
        poster.setAttribute('style', 'background-image: url("../gfx/' + randomImg() + '.jpg");');
      }());
    </script>
    <% include snips/footer.ejs %>
</body>
</html>