<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
    <title><%=pageTitle%></title>
    <% include snips/analytics.ejs %>
</head>
<body>

    <% include snips/logo.ejs %>
    <% include snips/menu.ejs %>

    <section class="wrap">

        <article id="poster" class="poster">
            <h1>All web, all the time</h1>
            <h2>23rd - 24th of May</h2>
            <h3>Oslo Norway</h3>
        </article>

        <div class="separator"></div>

        <article class="slot row_a">
            <a href="/speakers/#bodil">
                <div class="img" style="background-image: url(/gfx/front_bodil.jpg);"></div>
                <h2>Bodil Stokke</h2>
            </a>
        </article>

        <article class="slot row_b">
            <a href="/speakers/#david">
                <div class="img" style="background-image: url(/gfx/front_david.jpg);"></div>
                <h2>David Nolen</h2>
            </a>
        </article>

        <article class="slot row_c">
            <a href="/speakers/#garann">
                <div class="img" style="background-image: url(/gfx/front_garann.jpg);"></div>
                <h2>Garann Means</h2>
            </a>
        </article>

        <article class="slot row_a">
            <a href="/speakers/#jan">
                <div class="img" style="background-image: url(/gfx/front_jan.jpg);"></div>
                <h2>Jan Lehnardt</h2>
            </a>
        </article>

        <article class="slot row_b">
            <a href="/speakers/#mario">
                <div class="img" style="background-image: url(/gfx/front_mario.jpg);"></div>
                <h2>Dr. Mario Heiderich</h2>
            </a>
        </article>

        <article class="slot row_c">
            <a href="/speakers/#reginald">
                <div class="img" style="background-image: url(/gfx/front_reginald.jpg);"></div>
                <h2>Reginald Braithwaite</h2>
            </a>
        </article>

        <article class="slot row_a">
            <a href="/speakers/#robert">
                <div class="img" style="background-image: url(/gfx/front_robert.jpg);"></div>
                <h2>Robert Nyman</h2>
            </a>
        </article>

        <article class="slot row_b">
            <a href="/speakers/#addy">
                <div class="img" style="background-image: url(/gfx/front_addy.jpg);"></div>
                <h2>Addy Osmani</h2>
            </a>
        </article>

        <article class="slot row_c">
            <a href="/speakers/#marius">
                <div class="img" style="background-image: url(/gfx/front_marius.jpg);"></div>
                <h2>Marius Gundersen</h2>
            </a>
        </article>

        <article class="slot row_a">
            <a href="/speakers/#dominic">
                <div class="img" style="background-image: url(/gfx/front_dominic.jpg);"></div>
                <h2>Dominic Tarr</h2>
            </a>
        </article>

        <article class="slot row_b">
            <a href="/speakers/#magnar">
                <div class="img" style="background-image: url(/gfx/front_magnar.jpg);"></div>
                <h2>Magnar Sveen</h2>
            </a>
        </article>

        <article class="slot row_c tba">
            <a href="/speakers/#">
                <div class="img"></div>
                <h2>tba</h2>
            </a>
        </article>

        <article class="slot row_a tba">
            <a href="/speakers/#">
                <div class="img"></div>
                <h2>tba</h2>
            </a>
        </article>

        <article class="slot row_b tba">
            <a href="/speakers/#">
                <div class="img"></div>
                <h2>tba</h2>
            </a>
        </article>

        <article class="slot row_c tba">
            <a href="/speakers/#">
                <div class="img"></div>
                <h2>tba</h2>
            </a>
        </article>

        <article class="slot row_d tba">
            <a href="/speakers/#">
                <div class="img"></div>
                <h2>tba</h2>
            </a>
        </article>

    </section>

    <% include snips/footer.ejs %>
    <script src="/js/frontpage.js"></script>

</body>
</html>