<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
    <title><%=pageTitle%></title>
</head>
<body id="body" class="front">
    <div class="logo"></div>

    <% include menu.ejs %>

    <main class="main">
        <a href="/speaker/#garann" class="speaker garann"></a>
        <a href="/speaker/#robert" class="speaker robert"></a>
        <a href="/speaker/#robert" class="speaker david"></a>
        <a href="/speaker/#robert" class="speaker magnars"></a>
    </main>
    <script src="/js/script.js"></script>
<% include footer.ejs %>