<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/front.css">
    <title><%=pageTitle%></title>
</head>
<body id="body">
    <div class="logo"></div>

    <menu class="menu">
        <div class="left">
            <a href="/location/">Location</a>
            <a href="/tickets/">Tickets</a>
            <a href="/speakers/">Speakers</a>
        </div>
        <div class="right">
            <a href="/schedule/">Schedule</a>
            <a href="/sponsors/">Sponsors</a>
            <a href="/about/">About</a>
        </div>
    </menu>

    <footer class="foot">
        <aside>
            <div>
                <h1 class="title">23-24th May</h1>
                <h2 class="title">Oslo, Norway</h2>
            </div>
        </aside>

        <section>
            <!-- Sponsors goes here -->
        </section>
    </footer>
</body>
</html>
