<% include snips/head.ejs %>
    <section class="wrap">

      <article class="slot row_a">
        <a href="/speakers/#bodil">
          <div class="img jan"></div>
          <h2>Bodil Stokke</h2>
        </a>
      </article>

      <article class="slot row_b">
        <a href="">
          <img src="">
          <div></div>
        </a>
      </article>

      <article class="slot row_c">
        <a href="">
          <img src="">
          <div></div>
        </a>
      </article>

      <article class="slot row_a">
        <a href="">
          <img src="">
          <div></div>
        </a>
      </article>

      <article class="slot row_b">
        <a href="">
          <img src="">
          <div></div>
        </a>
      </article>

      <article class="slot row_c">
        <a href="">
          <img src="">
          <div></div>
        </a>
      </article>

      <article class="slot row_a">
        <a href="">
          <img src="">
          <div></div>
        </a>
      </article>

      <article class="slot row_b">
        <a href="">
          <img src="">
          <div></div>
        </a>
      </article>

      <article class="slot row_c">
        <a href="">
          <img src="">
          <div></div>
        </a>
      </article>

      <article class="slot row_a">
        <a href="">
          <img src="">
          <div></div>
        </a>
      </article>

      <article class="slot row_b">
        <a href="">
          <img src="">
          <div></div>
        </a>
      </article>

      <article class="slot row_c">
        <a href="">
          <img src="">
          <div></div>
        </a>
      </article>

      <article class="slot row_a">
        <a href="">
          <img src="">
          <div></div>
        </a>
      </article>

      <article class="slot row_b">
        <a href="">
          <img src="">
          <div></div>
        </a>
      </article>

      <article class="slot row_c">
        <a href="">
          <img src="">
          <div></div>
        </a>
      </article>

      <article class="slot row_d">
        <a href="">
          <img src="">
          <div></div>
        </a>
      </article>

    </section>
    <script src="/js/location.js"></script>
    <% include snips/footer.ejs %>
</body>
</html>