<% include snips/head.ejs %>
    <article class="wrap">

        <p>
          Everything releated to the conference happens within a 200m
          radius of the venue. The pre-party, the conference, the
          conference party and <a href="/openmic">Open Mic Night</a>
          are all taking place within a few metres of the venue.
        </p>

        <div class="separator"></div>

        <h2>The Venue</h2>
        <p>
          Our conference venue is <a target="_blank" href="http://www.fabrikken.no/">Fabrikken</a>, located in the newly constructed
          area, <a target="_blank" href="http://www.vulkanoslo.no/">Vulkan</a>
          , at <a target="_blank" href="http://en.wikipedia.org/wiki/Gr%C3%BCnerl%C3%B8kka">Grünerløkka</a>. The venue has brand new and
          modern facilities and is one of Norway's most energy
          efficient buildings with top notch air conditioning and high
          speed fiber internets.
        </p>
        <p>
          Oslo's first gourmet food market is located about 20 metres
          from the venue, with a wide selection of gourmet food
          stores, restaurants, excellent coffee and beer shops. All
          food served at the conference will be provided from these establishments.
        </p>

        <div class="imageFrame">
            <div class="images" id="locationimages" style="display: none;">
                <a href="../gfx/venue_01.jpg" title="Previous picture" class="arrow prev">&lt;</a>
                <img id="locationimg" src="../gfx/venue_01.jpg" class="slide focus" title="Venue picture" data-n="1" data-min="1" data-max="6" />
                <p class="slide next" style="background-image: url('../gfx/venue_06.jpg')"> </p>
                <a href="../gfx/venue_02.jpg" title="Next picture" class="arrow next">&gt;</a>
            </div>
            <div id="locationmap"><div id="map" class="map"> </div></div>
        </div>
        <div id="locationTogler">
            <a id="togleButtonImages" class="toglerButton" href="#locationimages"><span>Images</span></a>
            <a id="togleButtonMap" class="toglerButton" href="#locationmap"><span>Map</span></a>
        </div>

        <div class="separator"></div>

        <h2>Getting there</h2>
        <p>The address is <a href="https://maps.google.com/maps?q=Scandic+Hotel+Vulkan,+Maridalsveien+13,+0175+Oslo,+Norway&hl=en&sll=59.922366,10.753341&sspn=0.003699,0.013078&dirflg=w&hq=Scandic+Hotel+Vulkan,+Maridalsveien+13,+0175+Oslo,+Norway&t=m&z=15"><strong>Maridalsveien 13-17</strong></a></p>

        <strong>Walking</strong>
        <p>
          You can <a
          href="http://www.vulkanoslo.no/download.aspx?object_id=9A47978347B74EF395B7CCAF545A16E2.pdf">download
          a map</a> created by the owners of a venue nearby.
        </p>

        <strong>Tram (Recommended)</strong>
        <p>
          Tram lines 11, 12 and 13 all stop at <em>Schous plass</em>, where
          you can walk down Nordregate and across the bridge to
          Vulkan. <a href="https://maps.google.com/maps?saddr=Schous+plass+%4059.920807,10.759322&daddr=Scandic+Hotel+Vulkan,+Maridalsveien+13,+0175+Oslo,+Norway&hl=en&sll=59.921947,10.759327&sspn=0.007399,0.026157&geocode=FadRkgMdmiykAA%3BFWBZkgMdpg2kACkxFrWeZW5BRjFlM5P44AGB6w&mra=ls&t=m&z=17">Get directions</a>.
        </p>

        <strong>Bus</strong>
        <p>
          Buses 34 and 54 stop at <em>M&oslash;llerveien</em>. Walk down
          M&oslash;llerveien and make a left at Dansens Hus.
          <a href="https://maps.google.com/maps?saddr=Maridalsveien&daddr=Scandic+Hotel+Vulkan,+Maridalsveien+13,+0175+Oslo,+Norway&hl=en&ll=59.921904,10.753341&spn=0.003699,0.013078&sll=59.920302,10.752321&sspn=0.0037,0.013078&geocode=FeVQkgMd5A2kAA%3BFWBZkgMdpg2kACkxFrWeZW5BRjFlM5P44AGB6w&dirflg=w&mra=mift&mrsp=0&sz=17&t=m&z=17">Get directions.</a>
        </p>

        <strong>Taxi</strong>
        <p>
          The address is <em>Maridalsveien 13-17</em>. Please note
          that taxi fares in Norway are quite expensive.
        </p>

        <div class="separator"></div>

        <h2>Stay cheaply</h2>
        <p>
          You can travel to Norway cheaply (No, Really)! <a target="_blank" href="http://norwegian.no/en/">Norwegian</a> and
          <a target="_blank" href="http://www.flysas.com/en/uk/">SAS</a>
          both have lower priced tickets on sale which
          you can get if you make reservations early.
          <a target="_blank" href="http://norwegian.no/en/">Norwegian</a>
          tends to be the cheapest option; check out their
          <a href="http://www.norwegian.no/en/flight/lowfare/?D_City=LGW&A_City=OSL&TripType=2&D_Month=201305&R_Month=201305&AdultCount=1&ChildCount=0&InfantCount=0">calendar
          app for cheapest flights in the period</a> (this URL links
          to flights from London to Oslo).
        </p>
        <p>
          SAS generally offers a more comfortable flight, but
          Norwegian offers free in-flight wifi.
        </p>
        
        <div class="separator"></div>

        <h2>From Oslo Airport</h2>
        <p>
          Whatever you do, don't grab a taxi from the
          airport&mdash;it's a really long and expensive ride. The
          cheapest way to get to Oslo proper is by bus, but the
          airport express train is also quite reasonable, and is by
          far the most convenient. You'll want to get off the train at
          Oslo Central Station, where you'll find taxis and public
          transport aplenty. If you're staying at the conference
          hotel, see the guide for getting to the venue above.
        </p>
        
        <div class="separator"></div>
        
        <h2>Staying in Oslo</h2>
        <p>
          There are several great hotels within walking distance of
          the venue. Oslo can be a busy town, so we recommend booking
          your room early! Here are some of the hotels closest to our
          venue:
        </p>

        <strong><a href="http://www.scandichotels.no/Hotels/Countries/Norge/Oslo/Hotels/Vulkan/#.UR6ROqvipms">Scandic Hotel Vulkan</a></strong>
        <p>
          Scandic Hotel Vulkan is the Web Rebels 2013 hotel partner.
          This is a modern hotel right next door to the venue. By
          staying here, your will be able to walk in your slippers from
          your room and into the venue. When booking your Web Rebels
          2013 ticket you will be given a discount code which can be
          used at this hotel.
        </p>

        <strong><a href="http://www.pshotell.no/">PS:Hotell</a></strong>
        <p>
          We're also happy that there is a cheaper hotel at the
          premises, just 20-30m from the venue, which has extremely
          low prices.
        </p>

        <strong><a href="http://www.comforthotelxpress.no/">Comfort Hotel xPress Oslo</a></strong>
        <p>
          One of the coolest new hotels in the city, similar to the
          <a href="http://yotel.com">Yotel concept</a> in other cities.
          It's located right in the
          <a href="https://www.google.com/maps?q=m%C3%B8llergata+26+oslo&hl=no&ie=UTF8&sll=61.143235,9.09668&sspn=0.007953,0.018969&z=16">heart
          of rock'n roll Oslo</a> and still within decent walking
          distance of the venue. Free wifi, naturally.
        </p>
        
        <div class="separator"></div>
        <h2>Splurge</h2>
        <p>
          If your company's paying anyway why not splurge? Unlike most other things in Norway, hotels in Oslo are
          surprisingly cheap. You can stay at the 5 star
          <a href="http://www.radissonblu.com/plazahotel-oslo">Radisson
          BLU Plaza</a>, located in the heart of the city, right next
          to all the public transport you'll need to get to the venue,
          for a lot less than you'd expect.
        </p>
        <p>
          If you really want to go all out on the expense account,
          though, there's always the
          <a href="http://www.hotelcontinental.no/flash.aspx?ID=338&AreaID=2">Hotel
          Continental</a>. We expect that if you can afford to stay
          there, you won't mind having to get to the venue by taxi.
        </p>
    </article>

    <script src="/js/location.js"></script>
    <% include snips/footer.ejs %>
</body>
</html>
