<% include snips/head.ejs %>

<h1>Location</h1>

<p>Everything releated to the conference happens within a 200 m radius of the venue. The pre-party, the conference, the conference party and <a href="/openmic">Open Mic Night</a> are all taking place within a few meters of the venue.</p>

<h2>About Vulkan</h2>

<div id="locationTogler">
<ul>
    <li><a href="#locationimages">Images</a></li>
    <li><a href="#locationmap">Map</a></li>
</ul>
</div>
<div class="images" id="locationimages">
    <p class="arrowLeft"> </p>
    <p class="slide focus" style="background-image: url('img/venue_01.jpg')"> </p>
    <p class="slide next" style="background-image: url('img/venue_02.jpg')"> </p>
    <p class="slide next" style="background-image: url('img/venue_03.jpg')"> </p>
    <p class="slide next" style="background-image: url('img/venue_04.jpg')"> </p>
    <p class="slide next" style="background-image: url('img/venue_05.jpg')"> </p>
    <p class="slide next" style="background-image: url('img/venue_06.jpg')"> </p>
    <p class="arrowRight"> </p>
</div>
<div class="mapbox" id="locationmap">
    <div id="map" class="map"> </div>
    <a class="maplink map" href="https://maps.google.com/maps?q=Vulkan,+Maridalsveien+13-17,+Oslo,+Norway&hl=en&ie=UTF8&ll=59.922807,10.751388&spn=0.006474,0.016952&sll=59.921194,10.752836&sspn=0.001629,0.004238&hq=Vulkan,&hnear=Maridalsveien+13,+Gr%C3%BCnerl%C3%B8kka,+0175+Oslo,+Norway&t=m&z=16">&nbsp;</a>

</div>

<h2>Conference hotels</h2>
<strong><a href="http://www.scandichotels.no/Hotels/Countries/Norge/Oslo/Hotels/Vulkan/#.UR6ROqvipms">Scandic Hotel Vulkan</a></strong>
<p><img src="/gfx/location/vulkan.jpg">This is the hotel where we'll be putting our speakers. It is right next door to the venue and we have been able to get a Web Rebel discount.</p>

<strong><a href="http://www.comforthotelxpress.no/">Comfort Hotel xPress Oslo</a></strong>
<p><img src="/gfx/location/xpress.jpg">One of the coolest new hotels in the city, similar to the <a href="http://yotel.com">Yotel concept</a> in other cities. It's located right in the <a href="https://www.google.com/maps?q=m%C3%B8llergata+26+oslo&hl=no&ie=UTF8&sll=61.143235,9.09668&sspn=0.007953,0.018969&z=16">heart of rock'n roll Oslo</a> and still within decent walking distance of the venue. Free WiFi, naturally.</p>

<strong><a href="http://www.pshotell.no/">PS:Hotell</a></strong>
<p><img src="/gfx/location/pshotell.jpg">We're also happy that there is a cheaper hotel at the premises, just 20-30 m from the venue, which has extremely low prices. You can <a href="http://www.booking.com/hotel/no/ps-hotell.en.html?aid=311984;label=ps-hotell-bXkLeXsmoaqxr8VMHx83HQS11220884953:pl:ta:p1:p2:ac:ap1s1:nes;ws=&gclid=COnHk_HStrUCFclZ3godNCgAYQ">make reservations online</a>.</p>

<h2>Getting there</h2>

<strong>Walking</strong>
<p>You can <a href="http://www.vulkanoslo.no/download.aspx?object_id=9A47978347B74EF395B7CCAF545A16E2.pdf">download a map</a> create by the owenrs of a venu just in case.</p>

<strong>Tram (recommended)</strong>
<p>Lines 11, 12 and 13 all stop at <strong>Schous plass</strong> where you can walk down Nordregate and across the bridge to Vulkan</p>

<strong>Bus</strong>
<p>Bus 53 and 54 stops in M&oslash;llerveien. Walk down M&oslash;llerveien and make a left at Dansens Hus</p>

<strong>Taxi</strong>
<p>The address is Maridalsveien 13-17. Please note that taking a taxi in Norway is expensive.</p>



<script src="/js/location.js"></script>
<% include snips/footer.ejs %>