<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
    <title><%=pageTitle%></title>
    <% include snips/analytics.ejs %>
</head>
<body>

  <% include snips/logo.ejs %>
  <% include snips/menu.ejs %>

    <article class="wrap">

        <h1>Roadbook</h1>
        <p>
            This is the speakers roadbook. It contains all important information you as a speaker might want to know before, buring and after your stay at Web Rebels 2013. Please bookmark this page and please do not share the url to this page on Twitter or simmilar.
        </p>

        <div class="separator"></div>

        <h2>Contact information</h2>
        <p>Info</p>

        <div class="separator"></div>

        <h2>Travel to and from</h2>
        <p>Info</p>

        <div class="separator"></div>

        <h2>The hotel</h2>
        <p>Info</p>

        <div class="separator"></div>

        <h2>The venue</h2>
        <p>Info</p>

        <div class="separator"></div>

        <h2>Official hashtag</h2>
        <p>
            We feel deeply honored if you mention us in social media. If you do, our official hashtag is: <strong>#webrebels</strong>
        </p>

    </article>

    <% include snips/footer.ejs %>

</body>
</html>