<% include snips/head.ejs %>

    <article class="wrap">

        <h1>Web Rebels Schedule 2013</h1>

        <p>The schedule is far from complete yet, and may change at short notice. Come back for updates! Here is what we have so far:</p>

        <table class="schedule simple" id="dayI">
        	<tbody>
        		<tr>
        			<td class="time">-- : --</td>
        			<td class="title">Addy Osmani</td>
        			<td class="additional">JS Performance</td>
        		</tr>
        		<tr>
        			<td class="time">-- : --</td>
        			<td class="title">Reginald Braithwaite</td>
        			<td class="additional"></td>
        		</tr>
        		<tr>
        			<td class="time">-- : --</td>
        			<td class="title">Magnar Sveen</td>
        			<td class="additional">Tooling</td>
        		</tr>
        		<tr>
        			<td class="time">-- : --</td>
        			<td class="title">David Nolen</td>
        			<td class="additional">Alt. langs</td>
        		</tr>
        		<tr>
        			<td class="time">-- : --</td>
        			<td class="title">Marius Gundersen</td>
        			<td class="additional">JavaScript libs internals</td>
        		</tr>
        		<tr>
        			<td class="time">-- : --</td>
        			<td class="title">Garann Means</td>
        			<td class="additional"></td>
        		</tr>
        		<tr>
        			<td class="time">-- : --</td>
        			<td class="title">Bodil Stokke</td>
        			<td class="additional"></td>
        		</tr>
        		<tr>
        			<td class="time">-- : --</td>
        			<td class="title">Robert Nyman</td>
        			<td class="additional">Keynote</td>
        		</tr>
        		<tr>
        			<td class="time">-- : --</td>
        			<td class="title">Mario Heiderich</td>
        			<td class="additional">Security</td>
        		</tr>
        		<tr>
        			<td class="time">-- : --</td>
        			<td class="title">Jan Lehnardt</td>
        			<td class="additional"></td>
        		</tr>
        	</tbody>
        </table>

    </article>

    <% include snips/footer.ejs %>
</body>
</html>