<% include snips/head.ejs %>

    <article class="wrap">

        <h1>Web Rebels Schedule 2013</h1>

        <p>The schedule is far from complete yet, and may change at short notice. Come back for updates! Here is what we have so far:</p>

        <table class="schedule simple" id="dayI">
        	<tbody>
        		<tr>
        			<td>-- : --</td>
        			<td>Addy Osmani</td>
        			<td>JS Performance</td>
        		</tr>
        		<tr>
        			<td>-- : --</td>
        			<td>Reginald Braithwaite</td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>-- : --</td>
        			<td>Magnar Sveen</td>
        			<td>Tooling</td>
        		</tr>
        		<tr>
        			<td>-- : --</td>
        			<td>David Nolen</td>
        			<td>Alt. langs</td>
        		</tr>
        		<tr>
        			<td>-- : --</td>
        			<td>Marius Gundersen</td>
        			<td>JavaScript libs internals</td>
        		</tr>
        		<tr>
        			<td>-- : --</td>
        			<td>Garann Means</td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>-- : --</td>
        			<td>Bodil Stokke</td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>-- : --</td>
        			<td>Robert Nyman</td>
        			<td>Keynote</td>
        		</tr>
        		<tr>
        			<td>-- : --</td>
        			<td>Mario Heiderich</td>
        			<td>Security</td>
        		</tr>
        		<tr>
        			<td>-- : --</td>
        			<td>Jan Lehnardt</td>
        			<td></td>
        		</tr>
        	</tbody>
        </table>

    </article>

    <% include snips/footer.ejs %>
</body>
</html>