<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
    <title><%=pageTitle%></title>
    <% include snips/analytics.ejs %>
</head>
<body>

  <% include snips/logo.ejs %>
  <% include snips/menu.ejs %>

    <article class="wrap">

        <h1>Schedule</h1>
        <p>This is the outline for the conference. More speakers will be added continously up until the event.</p>

        <a name="openmic"></a>
        <table class="schedule" id="openmic">
            <tr>
                <th colspan="3">22nd of May - Open Mic Night</th>
            </tr>
            <tr>
                <td class="time">20:00</td>
                <td class="title">Intro</td>
                <td class="additional">We kick off the <a href="/openmic">Open Mic Night</a></td>
            </tr>
            <tr>
                <td class="time">Talk I</td>
                <td class="title"><a href="https://twitter.com/joachimhs">Joachim Haagen Skeie</a></td>
                <td class="additional">Ember.js in Action</td>
            </tr>
            <tr>
                <td class="time">Talk II</td>
                <td class="title"><a href="https://twitter.com/arnemart/">Arne Martin Aurlien</a></td>
                <td class="additional">Implementing an esoteric programming language in JavaScript</td>
            </tr>
            <tr>
                <td class="time">Talk III</td>
                <td class="title"><a href="https://twitter.com/sindresorhus">Sindre Sorhus</a></td>
                <td class="additional">Getting dirty with grunt</td>
            </tr>
            <tr>
                <td class="time">Break</td>
                <td class="title"> </td>
                <td class="additional"> </td>
            </tr>
            <tr>
                <td class="time">Talk IV</td>
                <td class="title"><a href="https://twitter.com/Nervetattoo">Raymond Julin</a></td>
                <td class="additional">What the hell happened to hacking?</td>
            </tr>
            <tr>
                <td class="time">Talk V</td>
                <td class="title"><a href="https://twitter.com/olegpodsechin">Oleg Podsechin</a></td>
                <td class="additional">A quick talk on <a href="https://starthq.com/">Start HQ</a></td>
            </tr>
            <tr>
                <td class="time">Talk VI</td>
                <td class="title"><a href="https://twitter.com/augustl">August Lilleaas</a></td>
                <td class="additional">Truly concurrent user interfaces</td>
            </tr>
            <tr>
                <td class="time">Break</td>
                <td class="title"> </td>
                <td class="additional"> </td>
            </tr>
            <tr>
                <td class="time">Talk VII</td>
                <td class="title"><a href="http://twitter.com/parkerwightman">Parker Wightman</a></td>
                <td class="additional">API Design, Testing, and Clients</td>
            </tr>
            <tr>
                <td class="time">Talk VIII</td>
                <td class="title">tba</td>
                <td class="additional"> </td>
            </tr>
            <tr>
                <td class="time">Talk IX</td>
                <td class="title">tba</td>
                <td class="additional"> </td>
            </tr>
        </table>

        <a name="dayI"></a>
        <table class="schedule" id="dayI">
            <tr>
                <th colspan="3">23rd of May - Conference Day I</th>
            </tr>
            <tr>
                <td class="time">08:00</td>
                <td class="title">Registration and breakfast</td>
                <td class="additional">No need for that hotel breakfast! Join us for a Rebel breakfast instead.</td>
            </tr>
            <tr>
                <td class="time">09:00</td>
                <td class="title"><a href="/speakers/#reginald">Reginald Braithwaite</a></td>
                <td class="additional">I have a good feeling about this.</td>
            </tr>
            <tr>
                <td class="time">09:45</td>
                <td class="title"><a href="/speakers/#addy">Addy Osmani</a></td>
                <td class="additional">Gone in 60 frames per second</td>
            </tr>
            <tr>
                <td class="time">10:30</td>
                <td class="title">Coffee/tea break</td>
                <td class="additional"> </td>
            </tr>
            <tr>
                <td class="time">11:00</td>
                <td class="title"><a href="/speakers/#pawel">Pawel Kozlowski</a></td>
                <td class="additional">AngularJS: teaching browsers new tricks</td>
            </tr>
            <tr>
                <td class="time">11:45</td>
                <td class="title"><a href="/speakers/#bodil">Bodil Stokke</a></td>
                <td class="additional">What Every Hipster Should Know About Functional Programming</td>
            </tr>
            <tr>
                <td class="time">12:30</td>
                <td class="title">Lunch</td>
                <td class="additional"> </td>
            </tr>
            <tr>
                <td class="time">13:30</td>
                <td class="title"><a href="/speakers/#jan">Jan Lehnardt</a></td>
                <td class="additional">Rethinking Web Development: noBackend &amp; Offline First</td>
            </tr>
            <tr>
                <td class="time">14:15</td>
                <td class="title"><a href="/speakers/#dominic">Dominic Tarr</a></td>
                <td class="additional">Streams, Events, and Data</td>
            </tr>
            <tr>
                <td class="time">15:00</td>
                <td class="title">Coffee/tea break</td>
                <td class="additional"> </td>
            </tr>
            <tr>
                <td class="time">15:30</td>
                <td class="title"><a href="/speakers/#rob">Rob Hawkes</a></td>
                <td class="additional">The State of WebRTC</td>
            </tr>
            <tr>
                <td class="time">16:15</td>
                <td class="title"><a href="/speakers/#max">Max Ogden</a></td>
                <td class="additional">Minecraft in the browser</td>
            </tr>
            <tr>
                <td class="time">17:00</td>
                <td class="title">Conference dinner and party</td>
                <td class="additional"> </td>
            </tr>
        </table>

        <a name="dayII"></a>
        <table class="schedule" id="dayII">
            <tr>
                <th colspan="3">24th of May - Conference Day II</th>
            </tr>
            <tr>
                <td class="time">08:00</td>
                <td class="title">Breakfast</td>
                <td class="additional" title="Also proper veggie food">There will be bacon!</td>
            </tr>
            <tr>
                <td class="time">09:00</td>
                <td class="title"><a href="/speakers/#robert">Robert Nyman</a></td>
                <td class="additional">What are you going to do with your life?</td>
            </tr>
            <tr>
                <td class="time">09:45</td>
                <td class="title"><a href="/speakers/#marius">Marius Gundersen</a></td>
                <td class="additional">Building Maintainable JavaScript Applications</td>
            </tr>
            <tr>
                <td class="time">10:30</td>
                <td class="title">Coffee/tea break</td>
                <td class="additional"> </td>
            </tr>
            <tr>
                <td class="time">11:00</td>
                <td class="title"><a href="/speakers/#garann">Garann Means</a></td>
                <td class="additional">contenteditable: Roll for sanity</td>
            </tr>
            <tr>
                <td class="time">11:45</td>
                <td class="title"><a href="/speakers/#mario">Dr.-Ing. Mario Heiderich</a></td>
                <td class="additional">The innerHTML Apocalypse - How mXSS attacks change everything we believed to know so far</td>
            </tr>
            <tr>
                <td class="time">12:30</td>
                <td class="title">Lunch</td>
                <td class="additional"> </td>
            </tr>
            <tr>
                <td class="time">13:30</td>
                <td class="title"><a href="/speakers/#david">David Nolen</a></td>
                <td class="additional">ClojureScript: Lisp's Revenge</td>
            </tr>
            <tr>
                <td class="time">14:15</td>
                <td class="title"><a href="/speakers/#felix">Felix Geisendörfer</a></td>
                <td class="additional">tus.io - Squeezing Cats Through Tiny Mobile Tubes</td>
            </tr>
            <tr>
                <td class="time">15:00</td>
                <td class="title">Coffee/tea break</td>
                <td class="additional"> </td>
            </tr>
            <tr>
                <td class="time">15:30</td>
                <td class="title"><a href="/speakers/#brian">Brian Ford</a></td>
                <td class="additional">Improving Your Workflow with Yeoman</td>
            </tr>
            <tr>
                <td class="time">16:15</td>
                <td class="title"><a href="/speakers/#magnar">Magnar Sveen</a></td>
                <td class="additional">Emacs Rocks! Webdev special</td>
            </tr>
            <tr>
                <td class="time">17:00</td>
                <td class="title">Group photo</td>
                <td class="additional"> </td>
            </tr>
        </table>

        <a name="appday"></a>
        <table class="schedule" id="appday">
            <tr>
                <th colspan="3">25th of May - Firefox OS Application Hack Day</th>
            </tr>
            <tr>
                <td colspan="3">
                <p>As part of the Web Rebels conference, Comoyo is hosting an App Day where you can get an introduction to Firefox OS, how to make web apps, design guidelines etc.</p>
                <p>Bring your existing app or web site to adapt it to a web app, or start a new project. From those who <a href="https://docs.google.com/a/comoyo.com/spreadsheet/viewform?formkey=dHpNbXZHenh3eS1vVW9TOVFKWDIxQUE6MA#gid=0">register an app idea</a> they want to work on, we will draw some lucky winners who get a <a href="http://www.geeksphone.com/">Geeksphone</a> with Firefox OS on!</p>
                <p>You do not need a ticket for the Web Rebels conference to participate in the App Day, as it is open to everyone!</p>
                <p>Wanna get started building your app in advance? <a href="http://comoyo.github.io/blog/2013/03/12/build-first-ffos-app/">Here's how to get started</a>.</p>
                </td>
            </tr>
            <tr>
                <td class="time">10:00</td>
                <td class="title" colspan="2">Coffee and registration</td>
            </tr>
            <tr>
                <td class="time">10:30</td>
                <td class="title">Intro to Firefox OS and Mozilla's plans</td>
                <td class="additional"><a href="http://christianheilmann.com/">Christian Heilmann</a>,  Developer Evangelist at Mozilla</td>
            </tr>
            <tr>
                <td class="time">11:30</td>
                <td class="title">How to make you first Firefox OS app</td>
                <td class="additional"><a href="https://twitter.com/janjongboom">Jan Jongboom</a>, Developer in Comoyo's Firefox OS team</td>
            </tr>
            <tr>
                <td class="time">12:15</td>
                <td class="title">Showcasing the possibilities with HTML5</td>
                <td class="additional">
                    <b>Gaming in HTML5</b>: how to use the WebGL standard to create graphically rich browser-based games without requiring the user to install any plug-ins by Marcus Stenberg, Evangelist at Goo Technologies
                </td>
            </tr>
            <tr>
                <td class="time">13:00</td>
                <td class="title" colspan="2">Lunch</td>
            </tr>
            <tr>
                <td class="time">13:30</td>
                <td class="title">Work on your app with help from Mozilla and Comoyo mentors. </td>
                <td class="additional"><a href="https://docs.google.com/a/comoyo.com/spreadsheet/viewform?formkey=dHpNbXZHenh3eS1vVW9TOVFKWDIxQUE6MA#gid=0">Register your app idea here</a> in advance and you might win a Geeksphone!</td>
            </tr>
            <tr>
                <td class="time">16:00</td>
                <td class="title" colspan="2">Optional beer drinking in the <a href="https://www.google.com/search?q=Mesh+Caf%C3%A9&oq=Mesh+Caf%C3%A9&aqs=chrome.0.57j0l3.603j0&sourceid=chrome&ie=UTF-8">Mesh Café</a></td>
            </tr>
            <!--tr>
                <td colspan="3">Our main sponsor, Comoyo, will host a full day <a href="http://www.mozilla.org/en-US/firefox/partners/#os">Firefox OS</a> application hack day. Full schedule with speakers, activities and location for this event will be published later.</td>
            </tr-->
        </table>

    </article>
    <% include snips/footer.ejs %>
</body>
</html>
