<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
    <title><%=pageTitle%></title>
    <% include snips/analytics.ejs %>
</head>
<body>

  <% include snips/logo.ejs %>
  <% include snips/menu.ejs %>

    <article class="wrap">
        <h1>Speakers</h1>
        <p>There will be in total 16 speakers during the two main days of Web Rebels. Please note that we also run an <a href="/openmic/">Open Mic Night</a> where you as an attendee can be the speaker.</p>

        <div class="separator"></div>

        <a name="bodil"></a>
        <div class="speaker">
            <img class="imageFrame" height="140" width="140" alt="Bodil Stokke" src="../gfx/speaker_bodil.jpg">
            <h2>Bodil Stokke</h2>
            <p><a href="http://bodil.org/">Bodil</a> is a developer, frequent speaker and occasional teacher of web technology and the dark realm of Lisp. She is currently leading the web dev team at <a href="http://arktekk.no/">Arktekk</a>. She is best known as the creator of the <a href="http://catnipide.com/">Catnip IDE</a>, and for her contributions to the field of programming language theory, especially the <a href="http://bodil.org/coffeescript/#the-secret-slide">Facial Hair Theory of Language Design</a>. She holds a doctorate in Metaphysics from <a href="http://www.themonastery.org/catalog/drofmetaphysicscertificate-p-116.html">ULC</a>, and her favourite pony is <a href="http://www.youtube.com/watch?v=cDuG95DXbw8">Rainbow Dash</a>.</p>
        </div>

        <div class="separator"></div>

        <a name="david"></a>
        <div class="speaker">
            <img class="imageFrame" height="140" width="140" alt="David Nolen" src="../gfx/speaker_david.jpg">
            <h2>David Nolen</h2>
            <p><a href="http://dosync.posterous.com/">David Nolen</a> is a JavaScript developer at The New York Times and helps run the <a href="http://kitchentablecoders.com/">Kitchen Table Coders</a> workshops in Brooklyn. David spends far too much of his free time having fun hacking on <a href="https://github.com/clojure/core.logic">core.logic</a>, <a href="https://github.com/clojure/core.match">core.match</a>, and <a href="https://github.com/clojure/clojurescript">ClojureScript</a>.</p>
        </div>

        <div class="separator"></div>

        <a name="garann"></a>
        <div class="speaker">
            <img class="imageFrame" height="140" width="140" alt="Garann Means" src="../gfx/speaker_garann.jpg">
            <h2>Garann Means</h2>
            <p><a href="http://garann.com/">Garann</a> is a JavaScript developer from Austin, Texas, USA. Before switching back to the front-end, she worked for many years as a back-end and full-stack developer. She works for Etsy, is the author of <a href="http://shop.oreilly.com/product/0636920023258.do">Node for Front-End Developers</a>, and is the organizer of <a href="http://www.meetup.com/Austin-All-Girl-Hack-Night/">Austin All-Girl Hack Night</a> and <a href="http://www.meetup.com/Girl-Develop-It-Austin/">Girl Develop It Austin</a>.</p>
        </div>

        <div class="separator"></div>

        <a name="jan"></a>
        <div class="speaker">
            <img class="imageFrame" height="140" width="140" alt="Jan Lenhardt" src="../gfx/speaker_jan.jpg">
            <h2>Jan Lenhardt</h2>
            <p><a href="http://jan.prima.de/">Jan Lehnardt</a> is an Open Source developer. He works on all parts of the web stack and tries to make things easier for everyone. He’s a core contributor to <a href="http://couchdb.apache.org/">Apache CouchDB</a>, a co-curator for <a href="jsconf.eu">JSConf EU</a> and lives in Berlin.</p>
        </div>

        <div class="separator"></div>

        <a name="mario"></a>
        <div class="speaker">
            <img class="imageFrame" height="140" width="140" alt="Dr.-Ing. Mario Heiderich" src="../gfx/speaker_mario.jpg">
            <h2>Dr.-Ing. Mario Heiderich</h2>
            <p><a href="http://mario.heideri.ch/">Mario Heiderich</a> is a Microsoft security contractor and founder of the German/UK pen-test outfit <a href="http://cure53.de/">Cure53</a>. He focuses on HTML5, SVG security and believes XSS can be eradicated by using JavaScript. Maybe. Some day.</p>

            <p>Mario invoked the <a href="http://html5sec.org/">HTML5 security cheat-sheet</a> and maintains the Crawly project. In his spare time he delivers trainings and security consultancy for larger German and international companies for sweet sweet money and the simple minded fun in breaking things.</p>

            <p>Mario has spoken on a large variety of international conferences, co-authored two books, several academic papers and doesn’t see a problem in his one-point-five year old son having a tablet already.</p>
        </div>

        <div class="separator"></div>

        <a name="reginald"></a>
        <div class="speaker">
            <img class="imageFrame" height="140" width="140" alt="Reginald Braithwaite" src="../gfx/speaker_reginald.jpg">
            <h2>Reginald Braithwaite</h2>
            <p><a href="http://braythwayt.com/">Reginald Braithwaite</a> has more than twenty years of hands-on experience creating software products. He applies his Ruby, JavaScript, CoffeeScript, and advanced programming expertise to crafting well-factored and maintainable code. He speaks and <a href="https://github.com/raganwald/homoiconic">writes</a> about not-so-big design and dynamic meta-programming. Open source accomplishments include <a href="http://recursiveuniver.se/docs/cafeaulife.html">Cafe au Life</a> and <a href="https://github.com/raganwald/YouAreDaChef">YouAreDaChef</a>, in JS/CS, the <a href="http://andand.rubyforge.org/">andand gem for Ruby</a>, and the <a href="https://github.com/raganwald/JQuery-Combinators">jQuery Combinators plugin</a>.</p>
        </div>

        <div class="separator"></div>

        <a name="robert"></a>
        <div class="speaker">
            <img class="imageFrame" height="140" width="140" alt="Robert Nyman" src="../gfx/speaker_robert.jpg">
            <h2>Robert Nyman</h2>
            <p><a href="https://twitter.com/robertnyman">Robert</a> is a Technical Evangelist for Mozilla and the Editor of <a href="https://hacks.mozilla.org/">Mozilla Hacks</a>. He's a strong believer in HTML5 and the Open Web, has been working since 1999 with Front End development for the web - in Sweden and in New York City. He regularly <a href="http://robertnyman.com">blogs</a> and loves to travel and meet people.</p>
        </div>

    </article>

    <% include snips/footer.ejs %>

</body>
</html>