<% include snips/head.ejs %>

	<article class="wrap">
        <h1>Speakers</h1>

        <section class="speakers">
	        <div class="speaker">
	        	<div class="left">
		            <div class="img addy"> </div>
		            <p class="header">Addy Osmani</p>
		            <p class="subheader">JavaScript Craftsman</p>
		        </div>
	            <div class="right info">
	                <p>Speaker bio. Lorem ipsum dolor sit amet.</p>
	            </div>
	        </div>

	        <div class="speaker">
	        	<div class="left">
		            <div class="img reginald"> </div>
		            <p class="header">Reginald Braithwaite</p>
		            <p class="subheader">Title</p>
		        </div>
	            <div class="right info">
	                <p>Speaker bio. Lorem ipsum dolor sit amet.</p>
	            </div>
	        </div>

	        <div class="speaker">
	        	<div class="left">
		            <div class="img magnar"> </div>
		            <p class="header">Magnar Sveen</p>
		            <p class="subheader">Title</p>
		        </div>
	            <div class="right info">
	                <p>Speaker bio. Lorem ipsum dolor sit amet.</p>
	            </div>
	        </div>

	        <div class="speaker">
	        	<div class="left">
		            <div class="img david"> </div>
		            <p class="header">David Nolen</p>
		            <p class="subheader">Title</p>
		        </div>
	            <div class="right info">
	                <p>Speaker bio. Lorem ipsum dolor sit amet.</p>
	            </div>
	        </div>

	        <div class="speaker">
	        	<div class="left">
		            <div class="img marius"> </div>
		            <p class="header">Marius Gundersen</p>
		            <p class="subheader">Title</p>
		        </div>
	            <div class="right info">
	                <p>Speaker bio. Lorem ipsum dolor sit amet.</p>
	            </div>
	        </div>

	        <div class="speaker">
	        	<div class="left">
		            <div class="img garann"> </div>
		            <p class="header">Garann Means</p>
		            <p class="subheader">Title</p>
		        </div>
	            <div class="right info">
	                <p>Speaker bio. Lorem ipsum dolor sit amet.</p>
	            </div>
	        </div>

	        <div class="speaker">
	        	<div class="left">
		            <div class="img bodil"> </div>
		            <p class="header">Bodil Stokke</p>
		            <p class="subheader">Title</p>
		        </div>
	            <div class="right info">
	                <p>Speaker bio. Lorem ipsum dolor sit amet.</p>
	            </div>
	        </div>

	        <div class="speaker">
	        	<div class="left">
		            <div class="img robert"> </div>
		            <p class="header">Robert Nyman</p>
		            <p class="subheader">Title</p>
		        </div>
	            <div class="right info">
	                <p>Speaker bio. Lorem ipsum dolor sit amet.</p>
	            </div>
	        </div>

	        <div class="speaker">
	        	<div class="left">
		            <div class="img mario"> </div>
		            <p class="header">Mario Heiderich</p>
		            <p class="subheader">Title</p>
		        </div>
	            <div class="right info">
	                <p>Speaker bio. Lorem ipsum dolor sit amet.</p>
	            </div>
	        </div>

	        <div class="speaker">
	        	<div class="left">
		            <div class="img jan"> </div>
		            <p class="header">Jan Lehnardt</p>
		            <p class="subheader">Title</p>
		        </div>
	            <div class="right info">
	                <p>Speaker bio. Lorem ipsum dolor sit amet.</p>
	            </div>
	        </div>

	        <!--
	        <div class="speaker">
	            <div class="img firstname"> </div>
	            <p class="header">Speaker</p>
	            <p class="subheader">Title</p>
	            <div class="info">
	                <p></p>
	            </div>
	        </div>
	    	-->
    	</section>
    </article>

    <% include snips/footer.ejs %>
</body>
</html>
