<% include snips/head.ejs %>

<article class="wrap">
    <h1>Sponsorship options</h1>

    <table class="simple">
    <thead>
        <tr><th>Tier</th>
        <th>Includes</th>
        <th>Price</th></tr>
    </thead>
    <tbody>
    <tr>
        <td>Tier 1</td>
        <td><ul>
                <li>Logo on website</li>
                <li>Mention in opening and closing talks</li>
                <li>Displayed logo during breaks</li>
                <li>Logo displayed in online videos</li>
                <li>1 ticket</li>
            </ul>
        </td>
        <td>25 000 NOK</td>
    </tr>
    <tr>
        <td>Tier 2</td>
        <td><ul>
            <li>Flag / banner inside the conference venue (provided by you)</li>
            <li>Logo lanyard (provided by you)</li>
            <li>Mention in social media</li>
            </ul></td>
        <td>35 000 NOK</td>
    </tr>
    <tr>
        <td>Tier 3</td>
        <td><ul>
            <li>Stands / booth / exhibition</li>
            <li>2 extra tickets</li>
            </ul>
        </td>
        <td>50 000 NOK</td>
    </tr>
    </tbody>
    </table>

    <p>In addition to the regular sponsorship packages we want to provide sponsors with other options for marketing their brand by helping us with some specifics related to the conference. These are exclusive packages only available to one sponsor.</p>

    <table class="simple">
    <thead>
    <tr><th>Name</th><th>Description</th><th>Price</th></tr>
    </thead>
    <tbody>
    <tr>
        <td>Barista at the venue</td>
        <td>Cover expenses related to having baristas serve amazing coffee</td>
        <td>Somewhere between 30-40 000 NOK (we are still negotiating the price)</td>
    </tr>
    <tr>
        <td>Sponsor of the Open Mic Night</td>
        <td>Be the exclusive sponsor of this pre-event which takes place the day before the conference where anyone can do a talk.<br>You’ll be the only sponsor for this event with options to have promotion materials at the venue.</td>
        <td>20 000 NOK</td>
    </tr>
    </tbody>
    </table>

    <p>Interested in sponsoring Web Rebels? If you want to find out more, <a href="mailto:sponsors[ replace this bracket with a @ ]webrebels.org&gt;">contact us today</a>.</p>
</article>
<% include snips/footer.ejs %>