<% include head.ejs %>

<h1>Sponsorship options</h1>
<table class="simple">
<thead>
<tr><th> </th><th>Includes</th><th>Price</th></tr>
</thead>
<tbody>
<tr>
    <td>Tier 1</td>
    <td>
    <ul>
    <li>Logo on website</li>
    <li>Mention in opening and closing talks</li>
    <li>Displayed logo during breaks</li>
    <li>Logo displayed in online videos</li>
    <li>1 ticket</li>
    </ul></td>
    <td>25 000 NOK</td>
</tr>
<tr>
    <td>Tier 2</td>
    <td>
    <ul>
    <li>Flag / banner inside the conference venue (provided by you)</li>
    <li>Logo lanyard (provided by you)</li>
    <li>Mention in social media</li>
    </ul></td>
    <td>35 000 NOK</td>
</tr>
<tr>
<td>Tier 3</td>
<td>
    <ul>
    <li>Stands / booth</li>
    <li>2 extra tickets</li>
    </ul>
</td>
<td>50 000 NOK</td>
</tr>
</tbody>
</table>

<% include footer.ejs %>