<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
    <title><%=pageTitle%></title>
    <% include snips/analytics.ejs %>
</head>
<body>

    <% include snips/logo.ejs %>
    <% include snips/menu.ejs %>

    <article class="wrap">
        <h1>Sponsorship options</h1>
        <p>Listed below are our sponsorship options. There is a limited number of packages available, so don't take too long to decide!</p>
        <p>We think that working together with our sponsors to create amazing experiences gives the best return on the investment, so please send us your ideas and we will work something out.</p>
        <table>
        <thead>
            <tr><th>Tier</th>
            <th>Description</th>
            <th>Price</th></tr>
        </thead>
        <tbody>
        <tr>
            <td>Tier 1</td>
            <td><ul>
                    <li>Logo on website</li>
                    <li>Mention in opening and closing talks</li>
                    <li>Displayed logo during breaks</li>
                    <li>Logo displayed in online videos</li>
                    <li>1 ticket</li>
                </ul>
            </td>
            <td>25 000 NOK</td>
        </tr>
        <tr>
            <td>Tier 2</td>
            <td><ul>
                <li>Flag / banner inside the conference venue (provided by you)</li>
                <li>Logo lanyard (provided by you)</li>
                <li>Mention in social media</li>
                </ul></td>
            <td>35 000 NOK</td>
        </tr>
        <tr>
            <td>Tier 3</td>
            <td><ul>
                <li>Stands / booth / exhibition</li>
                <li>2 extra tickets</li>
                </ul>
            </td>
            <td>50 000 NOK</td>
        </tr>
        </tbody>
        </table>

        <p>
          In addition to the regular sponsorship packages we want to
          provide sponsors with other options for marketing their brand by
          helping us with some specifics related to the conference. These
          are exclusive packages only available to one sponsor.
        </p>

        <table class="simple">
        <thead>
        <tr><th>Name</th><th>Description</th><th>Price</th></tr>
        </thead>
        <tbody>
        <tr>
            <td>Barista at the venue</td>
            <td>Cover expenses related to having baristas serve amazing coffee</td>
            <td>Somewhere between 30-40 000 NOK <small>(we are still negotiating the price)</small></td>
        </tr>
        <tr>
            <td>Sponsor of the Open Mic Night</td>
            <td>Be the exclusive sponsor of this pre-event which takes place the day before the conference where anyone can do a talk.</td>
            <td>20 000 NOK</td>
        </tr>
        </tbody>
        </table>

        <p>
          Interested in sponsoring Web Rebels? If you want to find out more,
          <a href="mailto:sponsors[ replace this bracket with a @]webrebels.org&gt;">contact us today</a>.
        </p>
    </article>

    <% include snips/footer.ejs %>

</body>
</html>