<% include head.ejs %>

<h2>Relax, we've got you covered</h2>

<p>When you attend the Web Rebels Conference you're our guest and we will take care of you. We work very hard to make sure all you need to do is to get here and then we'll do all the rest.</p>

<h2>Here is what is included in your ticket</h2>
<ul>
	<li>Entrance to the conference</li>
	<li>Breakfast & lunch during the conference</li>
	<li>Access to the conference party</li>
</ul>

<a href="http://webrebels.eventbrite.com/">Go grab your ticket!</a>

<% include footer.ejs %>