* {
    -webkit-tap-highlight-color:    rgba(0,0,0,0);
    -webkit-box-sizing:             border-box;
    -moz-box-sizing:                border-box;
    box-sizing:                     border-box;
}

/* Normalizing elements */
body, menu, h1, h2, a, section, aside, main, div, p, ul, li, form, input, button, fieldset {
    margin:                         0;
    padding:                        0;
}

ul {
    list-style:                     none;
}

/* Global styles */
body {
    font:                           100% sans-serif;                                                    /* ~16px; */
    line-height:                    1.5;
    -webkit-text-size-adjust:       none;
    background: url(../gfx/bg.png) repeat-x 0 0,url(../gfx/bg-sand.png) repeat 0 0,#f5f1e8;
}

h1, h2 {
    font-family:                    'Asap', sans-serif;
}

a {
    color:                          rgb(138,138,76);
}
a:visited {
    color:                          rgb(0,0,0);
}

table {
    width:                          96%;
    border-collapse:                collapse;
    margin-bottom:                  20px;
}
th {
    background-color:               rgb(202,202,174);
    text-align:                     left;
}
tr:nth-child( even ) {
    background-color:               rgb(242,242,235);

}
tr:nth-child( odd ) {
    background-color:               rgb(250,250,245);    
}
td, th {
    padding:                        10px;
    vertical-align:                 top;
}
td ul {
    list-style:                     disc;
    margin-left:                    4px;
}





.logo,
.menu,
.wrap,
.foot .footContainer {
    overflow:                       hidden;
    width:                          720px;
    margin-left:                    auto;
    margin-right:                   auto;
    padding:                        20px;
    background-color:               rgba(255,255,255,0.3);
}

.foot {
    overflow:                       hidden;
    background-color:               rgb(208,204,194);
    background-image:               url(../gfx/bg.jpg);
    height:                         150px;
}
.foot .footContainer {
    height:                         150px;
}
.foot section {
    float:                          left;
    width:                          75%;
}
.foot aside {
    float:                          right;
    width:                          25%;
    border-left:                    1px solid rgb(140, 140, 140);
}
.foot a,
.foot a:visited {
    float:                          right;
    text-decoration:                none;
    color:                          rgb(140, 140, 140);
}

.logo a {
    display:                        block;
    height:                         120px;
    background-image:               url("../gfx/wr_logo.svg");
    background-repeat:              no-repeat;
    background-position:            top center;
}

.menu {
    padding-top:                    0;
    padding-bottom:                 0;
}

.menu a {
    padding-top:                    8px;
    padding-bottom:                 8px;
    padding-right:                  5px;
    padding-left:                   5px;
    text-decoration:                none;
    color:                          rgb(0,0,0);
}

.menu .left a{
    float:                          right;
}
.menu .right a{
    float:                          left;
}

.menu div {
    border-top:                     4px solid rgb(35,75,81);
    border-bottom:                  4px solid rgb(35,75,81);
    float:                          left;
    width:                          50%;

}

.page p,
.imageFrame {
    margin-bottom:                  20px;
}
.huge {
    font-size: 250%;
}
.centrify {
    text-align: center;
}
.fleft {
    float:                          left;
}
.half {
    width:                          50%;
}
.last {
    clear:                          all;
}

/** Map and image box styles **/

.imageFrame {
    overflow:                       hidden;
    display:                        block;
    border:                         2px solid rgb(35,75,81);
    padding:                        4px;
    background-color:               rgb(255,255,255);
}

.map {
    height:                         288px;
    width:                          100%;
    overflow:                       hidden;
}

.map {
    margin-top:                     20px;
}

.images {
    position:                       relative;
    overflow:                       hidden;
    height:                         288px;
}

.images img {
    max-width:                      100%;
}

.images .arrow {
    position:                       absolute;
    font-size:                      30px;
    line-height:                    15px;
    color:                          white;
    background-color:               black;
    top:                            45%;
    padding:                        10px;
    text-decoration:                none;
    width:                          40px;
    height:                         40px;
    border-radius:                  25px;
    opacity:                        0.3;
}

.images .arrow:hover {
    opacity:                        0.7;
}

.images .arrow.prev {
    left:                           0;
}

.images .arrow.next {
    right:                          0;
}

/*.mapbox .images .slide {
    position:                       absolute;
    top:                            0;
    left:                           0;
}*/




/* Speakers */
.speaker {
    overflow:                       hidden;
    margin-bottom:                  20px;
}
.speaker img {
    float:                          left;
    margin-right:                   20px;
}



/* Schedule */
.schedule {
    width:                  680px;
}
.schedule th {
    text-align:             left;
}
.schedule .time {
    width:                  100px;
}
.schedule .title {
    width:                  170px;
}
.schedule .additional {
    line-height:            22px;
}

article ul {
    list-style: disc;
    padding: 0 2em 1em 2em;
}

@media screen and (max-width: 720px) {
    .page .logo, .page .menu, .page .wrap, .page .foot {
        width: auto;
    }

    .schedule {
        width: auto;
    }

    .half {
        width: auto;
    }

    img {
        max-width: 100%;
    }
    
    .fullWidthImg {
        height: auto;
    }
}
