* {
    -webkit-tap-highlight-color:    rgba(0,0,0,0);
    -webkit-box-sizing:             border-box;
    -moz-box-sizing:                border-box;
    box-sizing:                     border-box;
}

/* Normalizing elements */
body, menu, h1, h2, a, section, aside, main, div, p, ul, li, form, input, button, fieldset {
    margin:                         0;
    padding:                        0;
}

ul {
    list-style:                     none;
}


/* Global styles */
body {
    font:                           100% sans-serif;                                                    /* ~16px; */
    line-height:                    1.5;
    -webkit-text-size-adjust:       none;
}

a {
    color:                          rgb(138,138,76);
}
a:visited {
    color:                          rgb(0,0,0);
}

table {
    width:                          96%;
    border-collapse:                collapse;
    margin-bottom:                  20px;
}
th {
    background-color:               rgb(202,202,174);
}
tr:nth-child( even ) {
    background-color:               rgb(242,242,235);

}
tr:nth-child( odd ) {
    background-color:               rgb(250,250,245);    
}
td, th {
    padding:                        10px;
    vertical-align:                 top;
}


.front .title {
    font-family:                    'Asap', sans-serif;
    text-align:                     right;
    color:                          rgb(0,0,0);
}
.front h1.title{
    font-size:                      2.3em;
}
.front h2.title{
    font-size:                      1.525em;
}


.front {
    background-repeat:              no-repeat;
    background-position:            top center;
    background-color:               rgb(0,0,0);
    color:                          rgb(255,255,255);
}

.front .logo {
    position:                       absolute;
    top:                            10px;
    left:                           30%;
    width:                          40%;
    height:                         120px;
    background-image:               url("../gfx/wr_logo.svg");
    background-repeat:              no-repeat;
    background-position:            top center;
    z-index:                        1000;
}

.front .menu {
    position:                       absolute;
    top:                            0;
    height:                         80px;
    width:                          100%;
    font-family:                    'Asap', sans-serif;
}


.front .menu a {
    background:                     rgba(255, 255, 255, 0.4);
    color:                          rgb(255,255,255);
    margin-top:                     45px;
    padding-top:                    6px;
    padding-bottom:                 6px;
    padding-left:                   12px;
    padding-right:                  12px;
    text-decoration:                none;
    display:                        table-cell;
    border-radius:                  4px;
}

.front .menu .left {
    position:                       absolute;
    top:                            0;
    left:                           0;
    width:                          30%;
    height:                         80px;
}
.front .menu .left a {
    float:                          right;
    margin-left:                    4px;
}

.front .menu .right {
    position:                       absolute;
    top:                            0;
    right:                          0;
    width:                          30%;
    height:                         80px;
}

.front .menu .right a {
    float:                          left;
    margin-right:                   4px;
}

.front .main {
    position:                       absolute;
    top:                            80px;
    bottom:                         200px;
    display:                        block;
    width:                          100%;
}

.front .foot {
    position:                       absolute;
    bottom:                         0;
    height:                         200px;
    width:                          100%;
    background:                     rgba(255,255,255,0.8);
}

.front .foot section {
    width:                          75%;
    height:                         200px;
    float:                          left;
}

.front .foot aside {
    width:                          25%;
    padding:                        20px;
    height:                         200px;
    float:                          right;
    min-width:                      220px;
}

.front .foot aside div {
    height:                         160px;
    padding-left:                   20px;
    overflow:                       hidden;
    border-left:                    1px solid rgb(140,140,140);
}


.front .speaker {
    position:                       absolute;
    display:                        block;
    border:                         6px solid rgb(178,128,89);
    border-radius:                  90px;
    background-color:                     rgb(255,255,255);
    background-repeat:              no-repeat;
    background-position:            top center;
    height:                         180px;
    width:                          180px;
}

.garann     { background-image:               url("../gfx/speaker_garann.jpg") }
.robert     { background-image:               url("../gfx/speaker_robert.jpg") }
.david      { background-image:               url("../gfx/speaker_robert.jpg") }
.magnars    { background-image:               url("../gfx/speaker_robert.jpg") }

.front .garann {
    top:                            20%;
    left:                           20%;
}

.front .robert {
    top:                            30%;
    left:                           40%;
}

.front .david {
    top:                            70%;
    left:                           60%;
}

.front .magnars {
    top:                            10%;
    left:                           80%;
}

.speakers {
    width:                          100%;
}

.speaker .img {
    height:                 180px;
    width:                  180px;
}
.speakers .header {
    font-size:              .813em;
    font-weight:            300;
    line-height:            20px;
    padding:                0;
    margin:                 8px 10px 4px 8px;
}
.speakers .subheader {
    font-size:              .75em;
    font-weight:            300;
    line-height:            15px;
    padding:                0;
    margin:                 0 10px 3px 8px;
}
.speakers .info {
    width:                  523px;
    padding:                18px 18px 0 18px;
}

.speakers .info p {
    font-size:              .875em;
    font-weight:            300;
    line-height:            26px;
    margin-bottom:          18px;
}




.page {
    background-image:               url("../gfx/bg.jpg");
    background-color:               rgb(255,255,255);
    color:                          rgb(0,0,0);
}

.page .logo,
.page .menu,
.page .wrap,
.page .foot {
    overflow:                       hidden;
    width:                          720px;
    margin-left:                    auto;
    margin-right:                   auto;
    padding:                        20px;
    background-color:               rgb(255,255,255);
}

.page .logo a {
    display:                        block;
    height:                         120px;
    background-image:               url("../gfx/wr_logo.svg");
    background-repeat:              no-repeat;
    background-position:            top center;
}

.page .menu {
    padding-top:                    0;
    padding-bottom:                 0;
}

.page .menu a {
    padding-top:                    8px;
    padding-bottom:                 8px;
    padding-right:                  5px;
    padding-left:                   5px;
    text-decoration:                none;
    color:                          rgb(0,0,0);
}

.page .menu .left a{
    float:                          right;
}
.page .menu .right a{
    float:                          left;
}

.page .menu div {
    border-top:                     4px solid rgb(35,75,81);
    border-bottom:                  4px solid rgb(35,75,81);
    float:                          left;
    width:                          50%;

}

.page .foot a {
    float:                          right;
    text-decoration:                none;
    color:                          rgb(0,0,0);
    margin-right:                   8px;
}

.page h1,
.page h2 {
    font-family:                    'Asap', sans-serif;
}

.page p,
.imageFrame {
    margin-bottom:                  20px;
}
.huge {
    font-size: 250%;
}
.centrify {
    text-align: center;
}
.fleft {
    float:                          left;
}
.half {
    width:                          50%;
}
.last {
    clear:                          all;
}

/** Map and image box styles **/

.imageFrame {
    overflow:                       hidden;
    display:                        block;
    border:                         2px solid rgb(35,75,81);
    padding:                        4px;
}

.map {
    height:                         488px;
    width:                          100%;
    overflow:                       hidden;
}

.map {
    margin-top:                     20px;
}

.images {
    position:                       relative;
}

.images img {
    max-width:                      100%;
}

.images .arrow {
    position:                       absolute;
    font-size:                      30px;
    line-height:                    15px;
    color:                          white;
    background-color:               black;
    top:                            45%;
    padding:                        10px;
    text-decoration:                none;
    width:                          40px;
    height:                         40px;
    border-radius:                  25px;
    opacity:                        0.3;
}

.images .arrow:hover {
    opacity:                        0.7;
}

.images .arrow.prev {
    left:                           0;
}

.images .arrow.next {
    right:                          0;
}

/*.mapbox .images .slide {
    position:                       absolute;
    top:                            0;
    left:                           0;
}*/





/* Schedule */
.schedule {
    width:                  680px;
}
.schedule th {
    text-align:             left;
}
.schedule .time {
    width:                  100px;
}
.schedule .title {
    width:                  170px;
}
.schedule .additional {
    line-height:            22px;
}

article ul {
    list-style: disc;
    padding: 0 2em 1em 2em;
}

@media screen and (max-width: 720px) {
    .page .logo, .page .menu, .page .wrap, .page .foot {
        width: auto;
    }

    .schedule {
        width: auto;
    }

    .half {
        width: auto;
    }

    img {
        max-width: 100%;
    }
    
    .fullWidthImg {
        height: auto;
    }
}
