<footer class="foot">
    <div class="footContainer">
        <section>
            <!-- Sponsors goes here -->
        </section>

        <aside>
            <a href="http://webrebels.tumblr.com">Tumblr</a><br>
            <a href="http://flickr.com/webrebels">Flickr</a><br>
            <a href="http://lanyrd.com/2013/webreb/">Lanyrd</a><br>
            <a href="https://vimeo.com/channels/wr2012">Vimeo</a><br>
            <a href="http://twitter.com/">Twitter</a><br>
        </aside>
    </div>
</footer>