<menu class="menu">
    <a href="/">Home</a>
    <a href="/location/">Venue</a>
    <a href="/tickets/">Tickets</a>
    <a href="/speakers/">Speakers</a>
    <a href="/schedule/">Schedule</a>
    <a href="/sponsors/">Sponsors</a>
    <a href="/about/">About</a>
</menu>