	<menu class="menu">
        <div class="left">
            <a href="/speakers/">Speakers</a>
            <a href="/tickets/">Tickets</a>
            <a href="/location/">Location</a>
        </div>
        <div class="right">
            <a href="/schedule/">Schedule</a>
            <a href="/about/">About</a>
            <a href="/sponsors/">Sponsors</a>
        </div>
    </menu>