<menu class="menu">
    <div class="left">
        <a href="/location/">Venue</a>
        <a href="/tickets/">Tickets</a>
        <a href="/speakers/">Speakers</a>
        <a href="/">Home</a>
    </div>
    <div class="right">
        <a href="/schedule/">Schedule</a>
        <a href="/sponsors/">Sponsors</a>
        <a href="/about/">About</a>
    </div>
</menu>
